.gutter {
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-vertical {
    background-image: url('/images/gutter-vertical.png');
}

.gutter.gutter-horizontal {
    background-image: url('/images/gutter-horizontal.png');
}

.tab.active {
    background-color: #fff;
    border-color: #ccc #ccc #fff;
}

.tab-content {
    display: none;
    overflow: hidden;
}

.tab-content.active {
    display: block;
}

.separator {
    height: 100%;
    background-color: #ccc;
    width: 1px;
    margin-inline: 3px;
}