---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<button
  class="bg-primary text-brands-light p-2 w-full flex gap-1 items-center justify-center rounded-xl hover:bg-black"
>
  <slot />
  <span class="text-sm">{text}</span>
</button>
