---
import type { Key } from "@/lib/keys";

interface Props {
  key: Key;
}

const { key } = Astro.props;
const { id, label, symbol, isSymbol, group } = key;
---

<div id={id} title={id} class="bg-brands-medium p-1 rounded-md w-fit">
  <span>{label}</span>
</div>

<script>
  // Logica de tabs

  // Logica de los botones
</script>
