---
import PrimaryButton from "@/components/PrimaryButton.astro";
import ArrowBarLeft from "@/icons/ArrowBarLeft.astro";
import Plus from "@/icons/Plus.astro";
import FileExport from "@/icons/FileExport.astro";
---

<aside class="relative pt-20 h-full">
  <button
    class="absolute right-0 top-0 p-2 my-6 bg-brands-medium rounded-lg rounded-r-none"
  >
    <ArrowBarLeft />
  </button>
  <div class="p-4 flex flex-col justify-between h-full">
    <div>
      <PrimaryButton text="Nueva Hoja"><Plus /></PrimaryButton>
      <div class="mt-4">
        <h3 class="text-lg font-bold">Historial de Hojas</h3>
      </div>
    </div>
    <PrimaryButton text="Exportar"><FileExport /></PrimaryButton>
  </div>
</aside>
