---
import Link from "@/icons/Link.astro";
---

<div class="bg-brands-light p-3 flex flex-col gap-3 w-full h-full">
  <a
    href="https://www.geogebra.org/classic?lang=es"
    class="w-full flex items-center justify-between text-lg font-bold"
  >
    <h3>Ver en Geogebra</h3>
    <Link />
  </a>
  <iframe
    src="https://www.geogebra.org/classic/uqhkvuyb?embed"
    width="100%"
    height="100%"
    class="w-full"
    allowfullscreen
    style="border: 1px solid #e4e4e4;border-radius: 4px;"></iframe>
</div>
